<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Tiger-Trades</display-name>
  <welcome-file-list>
    <welcome-file>signIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>edu.mu.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>edu.mu.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createListingServelt</display-name>
    <servlet-name>createListingServelt</servlet-name>
    <servlet-class>edu.mu.servlet.createListingServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createListingServelt</servlet-name>
    <url-pattern>/createListingServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateListingServlet</display-name>
    <servlet-name>CreateListingServlet</servlet-name>
    <servlet-class>edu.mu.servlet.CreateListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateListingServlet</servlet-name>
    <url-pattern>/CreateListingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListingServlet</display-name>
    <servlet-name>ViewListingServlet</servlet-name>
    <servlet-class>edu.mu.servlet.ViewListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListingServlet</servlet-name>
    <url-pattern>/ViewListingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellerDashBoardServlet</display-name>
    <servlet-name>sellerDashBoardServlet</servlet-name>
    <servlet-class>edu.mu.servlet.sellerDashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerDashBoardServlet</servlet-name>
    <url-pattern>/sellerDashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBidServlet</display-name>
    <servlet-name>CreateBidServlet</servlet-name>
    <servlet-class>edu.mu.servlet.CreateBidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBidServlet</servlet-name>
    <url-pattern>/CreateBidServlet</url-pattern>
  </servlet-mapping>
</web-app>