.custom-header {
            background-color: #000;
            color: #FFD700; /* Mustard yellow */
            padding: 10px;
        }
        .title-container, .link-container {
            display: flex;
            align-items: center;
        }
        .title {
            font-size: 24px; /* Medium size */
            margin: 0;
        }
        .title {
            color: #FFD700;
        }
        
        .link-container {
        	display: flex;
            justify-content: space-evenly;
        	
        }
        .link-container a {
            color: #FFD700; /* Mustard yellow */
            text-decoration: none; /* Remove default underline */
            margin-left: 20px; /* Add some spacing between links */
        }